{
        ISAddr          is.dhis.org
        HostID          {{ dhis_host_id }}
        HostName        {{ dhis_host_name }}
        AuthP           {{ dhis_authp1 }}
        AuthP           {{ dhis_authp2 }}
        AuthQ           {{ dhis_authq1 }}
        AuthQ           {{ dhis_authq2 }}
        Refresh         {{ dhis_refresh_interval_secs }}
}
